Repository ApplETS/Notre-Dame, pull requests merged in 2021-05, with the labels that each got.

#112 fix tests in master
  lib/ui/views/schedule_view.dart
  test/ui/views/goldenFiles/scheduleView_1.png
  test/ui/views/goldenFiles/scheduleView_2.png
  test/ui/views/goldenFiles/scheduleView_3.png
  test/ui/views/goldenFiles/scheduleView_4.png
  test/ui/views/goldenFiles/scheduleView_5.png
Labels: bug, platform: android, platform: ios

#113 fix logout changing language
  lib/core/viewmodels/more_viewmodel.dart
Labels: bug, platform: android, platform: ios

#117 Bugfix/fix tests
  lib/ui/views/schedule_view.dart
  test/ui/views/goldenFiles/scheduleView_1.png
  test/ui/views/goldenFiles/scheduleView_2.png
  test/ui/views/goldenFiles/scheduleView_3.png
  test/ui/views/goldenFiles/scheduleView_4.png
  test/ui/views/goldenFiles/scheduleView_5.png
Labels: bug

#106 Bugfix/quicklinks
  android/app/src/main/AndroidManifest.xml
  ios/Runner/Info.plist
  lib/core/constants/router_paths.dart
  lib/core/services/github_api.dart
  lib/core/services/internal_info_service.dart
  lib/core/viewmodels/web_link_card_viewmodel.dart
  lib/locator.dart
  lib/ui/router.dart
  lib/ui/widgets/link_web_view.dart
  lib/ui/widgets/web_link_card.dart
  test/helpers.dart
  test/mock/services/internal_info_service_mock.dart
  test/ui/widgets/link_web_view_test.dart
  test/ui/widgets/web_link_card_test.dart
  test/viewmodels/web_link_card_viewmodel_test.dart
Labels: bug, platform: android, platform: ios

#111 Feature/accessible offline
  .DS_Store
  ios/Podfile.lock
  lib/core/managers/course_repository.dart
  lib/core/managers/user_repository.dart
  lib/core/services/github_api.dart
  lib/core/services/networking_service.dart
  lib/core/utils/utils.dart
  lib/core/viewmodels/grades_viewmodel.dart
  lib/core/viewmodels/profile_viewmodel.dart
  lib/core/viewmodels/schedule_viewmodel.dart
  lib/core/viewmodels/startup_viewmodel.dart
  lib/l10n/intl_en.arb
  lib/l10n/intl_fr.arb
  lib/locator.dart
  pubspec.lock
  pubspec.yaml
  test/helpers.dart
  test/managers/course_repository_test.dart
  test/managers/user_repository_test.dart
  test/mock/managers/user_repository_mock.dart
  test/mock/services/networking_service_mock.dart
  test/ui/views/grades_view_test.dart
  test/ui/views/profile_view_test.dart
  test/ui/views/schedule_view_test.dart
  test/ui/views/student_view_test.dart
  test/viewmodels/grades_viewmodel_test.dart
  test/viewmodels/profile_viewmodel_test.dart
  test/viewmodels/schedule_viewmodel_test.dart
  test/viewmodels/startup_viewmodel_test.dart
Labels: enhancement, platform: android, platform: ios

#65 Feature/dashboard & about us
  lib/core/constants/preferences_flags.dart
  lib/core/constants/urls.dart
  lib/core/managers/settings_manager.dart
  lib/core/viewmodels/dashboard_viewmodel.dart
  lib/ui/router.dart
  lib/ui/views/dashboard_view.dart
  lib/ui/widgets/dismissible_card.dart
  test/managers/settings_manager_test.dart
  test/mock/managers/settings_manager_mock.dart
  test/mock/services/preferences_service_mock.dart
  test/ui/views/dashboard_view_test.dart
  test/ui/views/goldenFiles/dashboardView_1.png
  test/ui/widgets/dismissible_card_test.dart
  test/viewmodels/dashboard_viewmodel_test.dart
Labels: enhancement, feature: Dashboard, platform: android, platform: ios

#123 changed colors after upgrade to flutter 2.2.0
  lib/main.dart
  lib/ui/utils/app_theme.dart
  lib/ui/utils/loading.dart
  lib/ui/widgets/password_text_field.dart
  pubspec.lock
Labels: bug

#110 table calendar starting day of week
  lib/core/constants/markers.dart
  lib/core/viewmodels/schedule_viewmodel.dart
  lib/ui/router.dart
  lib/ui/views/schedule_view.dart
  lib/ui/widgets/schedule_settings.dart
  pubspec.lock
  pubspec.yaml
  scripts/flutter_01.sksl.json
  test/ui/views/about_view_test.dart
  test/ui/views/goldenFiles/scheduleView_1.png
  test/ui/views/goldenFiles/scheduleView_2.png
  test/ui/views/goldenFiles/scheduleView_3.png
  test/ui/views/goldenFiles/scheduleView_4.png
  test/ui/views/goldenFiles/scheduleView_5.png
  test/ui/views/schedule_view_test.dart
  test/ui/widgets/schedule_settings_test.dart
  test/viewmodels/schedule_settings_viewmodel_test.dart
Labels: enhancement, feature: Schedule, platform: android, platform: ios

#122 dashboard: Add schedule card
  lib/core/viewmodels/dashboard_viewmodel.dart
  lib/ui/views/dashboard_view.dart
  lib/ui/widgets/dismissible_card.dart
  pubspec.lock
  test/ui/views/dashboard_view_test.dart
  test/ui/views/goldenFiles/dashboardView_1.png
  test/ui/views/goldenFiles/dashboardView_appletsCard_1.png
  test/ui/views/goldenFiles/dashboardView_scheduleCard_1.png
  test/viewmodels/dashboard_viewmodel_test.dart
Labels: enhancement, feature: Dashboard, platform: android, platform: ios

#124 dashboard: added progress bar
  android/app/build.gradle
  lib/core/managers/course_repository.dart
  lib/core/viewmodels/dashboard_viewmodel.dart
  lib/l10n/intl_en.arb
  lib/l10n/intl_fr.arb
  lib/ui/views/about_view.dart
  lib/ui/views/dashboard_view.dart
  pubspec.lock
  test/ui/views/about_view_test.dart
  test/ui/views/dashboard_view_test.dart
  test/ui/views/goldenFiles/aboutView_1.png
  test/ui/views/goldenFiles/dashboardView_progressBarCard_1.png
  test/ui/views/more_view_test.dart
  test/viewmodels/dashboard_viewmodel_test.dart
Labels: enhancement, feature: Dashboard, platform: android, platform: ios

#118 Feature/dashboard grades card
  ios/Podfile.lock
  lib/core/constants/preferences_flags.dart
  lib/core/managers/settings_manager.dart
  lib/core/viewmodels/dashboard_viewmodel.dart
  lib/core/viewmodels/grades_viewmodel.dart
  lib/ui/views/dashboard_view.dart
  lib/ui/views/grades_view.dart
  lib/ui/widgets/dismissible_card.dart
  lib/ui/widgets/grade_button.dart
  pubspec.lock
  test/managers/settings_manager_test.dart
  test/ui/views/dashboard_view_test.dart
  test/ui/widgets/grade_button_test.dart
  test/ui/widgets/grade_circular_progress_test.dart
  test/viewmodels/dashboard_viewmodel_test.dart
  test/viewmodels/grades_viewmodel_test.dart
Labels: enhancement, feature: Dashboard, platform: android, platform: ios

#128 Bugfix/bug report
  lib/core/services/github_api.dart
  lib/core/services/internal_info_service.dart
Labels: bug, platform: android, platform: ios
