Repository ApplETS/Notre-Dame, pull requests merged in 2021-06, with the labels that each got.

#135 Bugfix/change GitHub api token
  .env.template
  .github/workflows/main-workflow.yaml
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  lib/core/services/github_api.dart
  pubspec.yaml
Labels: bug, feature: bug report, platform: android, platform: ios

#134 Bugifx/UI fix
  .github/workflows/main-workflow.yaml
  android/app/src/main/res/drawable-night/ets_logo.png
  android/app/src/main/res/drawable-night/ets_logo.xml
  android/app/src/main/res/drawable-night/launch_background.xml
  android/app/src/main/res/drawable/ets_logo.png
  android/app/src/main/res/drawable/ets_logo.xml
  android/app/src/main/res/drawable/launch_background.xml
  assets/icons/ic_launcher_foreground.png
  assets/images/ets_white_logo.svg
  lib/ui/router.dart
  lib/ui/utils/app_theme.dart
  lib/ui/views/grade_details_view.dart
  lib/ui/views/grades_view.dart
  lib/ui/views/login_view.dart
  lib/ui/views/startup_view.dart
  lib/ui/widgets/bottom_bar.dart
  lib/ui/widgets/grade_button.dart
  lib/ui/widgets/grade_circular_progress.dart
  lib/ui/widgets/grade_evaluation_tile.dart
  pubspec.lock
  pubspec.yaml
  test/ui/views/goldenFiles/gradesDetailsView_1.png
  test/ui/views/goldenFiles/gradesDetailsView_2.png
  test/ui/views/goldenFiles/gradesView_2.png
  test/ui/widgets/grade_circular_progress_test.dart
  test/ui/widgets/grade_evaluation_tile_test.dart
Labels: bug, feature: Discovery, feature: Grades, platform: android, platform: ios

#147 updated back button behavior
  lib/core/services/navigation_service.dart
  lib/core/viewmodels/choose_language_viewmodel.dart
  lib/core/viewmodels/login_viewmodel.dart
  lib/core/viewmodels/not_found_viewmodel.dart
  lib/core/viewmodels/startup_viewmodel.dart
  lib/ui/widgets/bottom_bar.dart
  pubspec.lock
  pubspec.yaml
  test/ui/widgets/bottom_bar_test.dart
  test/viewmodels/choose_language_viewmodel_test.dart
  test/viewmodels/login_viewmodel_test.dart
  test/viewmodels/not_found_viewmodel_test.dart
  test/viewmodels/startup_viewmodel_test.dart
Labels: bug, platform: android, platform: ios

#149 added border to buttons
  android/app/src/main/AndroidManifest.xml
  assets/images/ets_white_logo.png
  assets/images/facebook_white.png
  assets/images/github_white.png
  assets/images/ic_book_red.png
  assets/images/ic_import_contacts_red.png
  assets/images/ic_newspaper_red.png
  assets/images/ic_schedule_generator_red.png
  assets/images/ic_security_red.png
  assets/images/twitter_white.png
  assets/images/website_white.png
  assets/images/youtube_white.png
  ios/Runner/Info.plist
  lib/core/constants/quick_links.dart
  lib/core/models/quick_link.dart
  lib/ui/views/about_view.dart
  lib/ui/views/dashboard_view.dart
  lib/ui/widgets/web_link_card.dart
  pubspec.lock
  pubspec.yaml
  test/ui/views/about_view_test.dart
  test/ui/views/dashboard_view_test.dart
  test/ui/views/goldenFiles/dashboardView_appletsCard_1.png
  test/ui/widgets/link_web_view_test.dart
  test/ui/widgets/web_link_card_test.dart
  test/viewmodels/more_viewmodel_test.dart
  test/viewmodels/web_link_card_viewmodel_test.dart
Labels: bug, enhancement, feature: Dashboard, platform: android, platform: ios

#153 Add color radiant on progress bar
  ios/Podfile.lock
  lib/ui/widgets/grade_circular_progress.dart
  pubspec.yaml
  test/ui/views/goldenFiles/gradesDetailsView_1.png
  test/ui/views/goldenFiles/gradesDetailsView_2.png
Labels: enhancement, feature: Grades, platform: android, platform: ios

#154 Bugfix/animation grades and badge coverage!
  .github/workflows/main-workflow.yaml
  README.fr.md
  README.md
  lib/ui/views/grade_details_view.dart
  lib/ui/views/grades_view.dart
  lib/ui/widgets/grade_button.dart
  pubspec.lock
  pubspec.yaml
  scripts/determine_code_coverage.sh
Labels: CI, bug, feature: Grades, platform: android, platform: ios

#158 Fix crashlytics
  .github/workflows/main-workflow.yaml
  README.fr.md
  README.md
  android/app/build.gradle
  android/build.gradle
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  lib/core/managers/cache_manager.dart
  lib/core/managers/course_repository.dart
  lib/core/managers/user_repository.dart
  lib/core/services/analytics_service.dart
  lib/core/viewmodels/not_found_viewmodel.dart
  pubspec.lock
  pubspec.yaml
  test/managers/course_repository_test.dart
  test/managers/user_repository_test.dart
  test/mock/services/rive_animation_service_mock.dart
  test/mock/services/signets_api_mock.dart
  test/viewmodels/not_found_viewmodel_test.dart
Labels: bug, platform: android, platform: ios

#159 Add GUS to the quicklinks. Improve the CI to auto-generate the goldens files
  .github/workflows/main-workflow.yaml
  assets/images/ic_gus_red.svg
  lib/core/constants/quick_links.dart
  lib/l10n/intl_en.arb
  lib/l10n/intl_fr.arb
  lib/ui/views/grades_view.dart
  package-lock.json
  pubspec.lock
  pubspec.yaml
  test/ui/views/goldenFiles/quicksLinksView_1.png
  test/ui/views/quick_links_view_test.dart
Labels: CI, enhancement, feature: ÉTS
