Repository ApplETS/Notre-Dame, pull requests merged in 2022-01, with the labels that each got.

#364 Feature/dashboard card haptic feedback
  android/app/src/main/AndroidManifest.xml
  lib/ui/views/dashboard_view.dart
  lib/ui/widgets/haptics_container.dart
  pubspec.yaml
Labels: platform: ios, platform: android, feature: Dashboard, size: S

#371 Issues/171 profile text white on white
  lib/ui/views/more_view.dart
  lib/ui/views/student_view.dart
  pubspec.yaml
Labels: bug, platform: ios, platform: android, size: S

#372 Course Activity Dashboard
  lib/core/managers/settings_manager.dart
  lib/core/services/preferences_service.dart
  lib/core/viewmodels/dashboard_viewmodel.dart
  lib/core/viewmodels/schedule_settings_viewmodel.dart
  lib/core/viewmodels/schedule_viewmodel.dart
  pubspec.yaml
  test/mock/managers/settings_manager_mock.dart
  test/ui/widgets/schedule_settings_test.dart
  test/viewmodels/dashboard_viewmodel_test.dart
  test/viewmodels/schedule_settings_viewmodel_test.dart
  test/viewmodels/schedule_viewmodel_test.dart
Labels: platform: ios, platform: android, feature: Dashboard, size: M

#351 Add verification
  lib/core/viewmodels/grades_details_viewmodel.dart
  pubspec.yaml
Labels: bug, platform: ios, platform: android, feature: Grades, priority: high, size: XS

#374 Fix Crash on app open and on tab close
  lib/core/viewmodels/web_link_card_viewmodel.dart
  pubspec.lock
  pubspec.yaml
Labels: bug, platform: ios, platform: android, size: S
